{% macro footer(grid_size) %}
<section id="footer" class="bg-gray">
  <div class="container {{ grid_size }}">
    {{ social_buttons::social_buttons() }}
    <div class="columns">
      {% if config.extra.footer_tagline %}
      <div class="column col-8 col-lg-12 col-mx-auto" style="text-align: center;">
        {{ config.extra.footer_tagline }}
      </div>
      {% endif %}
      {% if config.generate_feeds %}
      <div class="column col-4 col-lg-12 col-mx-auto" style="text-align: center;">
        <a class="rss-link" href="/{{ config.feed_filename }}">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-rss-fill" viewBox="0 0 16 16">
            <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm1.5 2.5c5.523 0 10 4.477 10 10a1 1 0 1 1-2 0 8 8 0 0 0-8-8 1 1 0 0 1 0-2zm0 4a6 6 0 0 1 6 6 1 1 0 1 1-2 0 4 4 0 0 0-4-4 1 1 0 0 1 0-2zm.5 7a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"/>
          </svg>
          <span>RSS</span>
        </a>
      </div>
      {% endif %}
    </div>
  </div>
</section>
{% endmacro footer %}
